// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map-canvas {
	height: 500px;
	width: 500px;
}

#venue-detail {
	visibility: hidden;
	max-height: 500px;
	max-width: 400px;
	overflow: auto;
}

#thumbnail {
	height: 120px;
	width: 120px;
	padding: 8px;
}

#errors {
	color: red;
}

.form-group input {
	margin-right: 15px;
}
}
